/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as owl-theme;
